backend/.idea/
backend/febs_shiro_jwt.iml
backend/target/
backend/log/

front/.DS_Store
front/node_modules
front/dist/
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/test/unit/coverage
front/test/e2e/reports
front/selenium-debug.log

# Editor directories and files
front/.idea
front/.vscode
front/package-lock.json
